<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyy.admin.mapper.CityMapper">
<!--    useGeneratedKeys="true 使用自增的主键-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">

        insert into city(`name`,`state`,`contry`) values(#{name},#{state},#{country})
    </insert>
</mapper>